name: Advanced GitOps Terraform

on:
  push:
    paths:
      - '**/manifest.json'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Detectar Gatilho e Processar
        id: flow
        run: |
          # 1. Encontra qual manifest.json mudou
          MANIFEST_PATH=$(git diff --name-only HEAD^ HEAD | grep "manifest.json" | head -n 1)
          
          # Fallback para Re-run
          if [ -z "$MANIFEST_PATH" ]; then
            MANIFEST_PATH=$(find . -name "manifest.json" | head -n 1 | sed 's|./||')
          fi

          # 2. Extrai dados do manifesto
          ACTION=$(jq -r '.action' "$MANIFEST_PATH")
          STAGES=$(jq -r '.stages[]' "$MANIFEST_PATH")

          # 3. Se for destroy, inverte a ordem (Subnets antes da VPC)
          if [ "$ACTION" == "destroy" ]; then
             STAGES=$(echo "$STAGES" | tac)
          fi

          echo "folder_trigger=$(dirname $MANIFEST_PATH)" >> $GITHUB_OUTPUT
          echo "action=$ACTION" >> $GITHUB_OUTPUT
          
          # Transforma a lista de stages em uma string para o loop
          echo "stages_list=$(echo $STAGES | tr '\n' ' ')" >> $GITHUB_OUTPUT

      - name: Configurar AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::952133486861:role/CloudManActions
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Executar Sequência Terraform
        run: |
          ACTION="${{ steps.flow.outputs.action }}"
          STAGES="${{ steps.flow.outputs.stages_list }}"
          
          for STAGE in $STAGES; do
            echo "----------------------------------------"
            echo ">>> ESTÁGIO: $STAGE | AÇÃO: $ACTION <<<"
            echo "----------------------------------------"

            terraform -chdir=$STAGE init \
              -backend-config="key=$STAGE/terraform.tfstate" \
              -reconfigure

            terraform -chdir=$STAGE $ACTION -auto-approve
          done
