name: Pro-Level Terraform Pipeline

on:
  push:
    paths: ['**/manifest.json']
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configurar AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::952133486861:role/CloudManActions
          aws-region: us-east-1

      - uses: hashicorp/setup-terraform@v3

      - name: Executar Pipeline Inteligente
        run: |
          ACTION=$(jq -r '.action' vpc/manifest.json)
          
          # 1. Lê a pipeline. Se for destroy, inverte a ordem dos estágios
          if [ "$ACTION" == "destroy" ]; then
            STAGES=$(jq -c '.pipeline | reverse | .[]' vpc/manifest.json)
          else
            STAGES=$(jq -c '.pipeline[]' vpc/manifest.json)
          fi

          # 2. Loop pelos estágios sequenciais
          echo "Iniciando Pipeline: $ACTION"
          
          for group in $STAGES; do
            # Extrai os sub-itens (ex: ["subnet1", "subnet2"])
            items=$(echo $group | jq -r '.[]')
            count=$(echo $items | wc -w)

            echo "::group::Processando Estágio: $items"
            
            # Se houver mais de um item, roda em paralelo (&)
            for item in $items; do
              (
                echo "Iniciando $item..."
                terraform -chdir=$item init -backend-config="key=$item/terraform.tfstate" -reconfigure > /dev/null
                terraform -chdir=$item $ACTION -auto-approve
                echo "Finalizado: $item"
              ) & 
            done

            # Espera todos os sub-itens do estágio atual terminarem
            wait
            echo "::endgroup::"

            # Se algum falhou, interrompe a pipeline
            if [ $? -ne 0 ]; then echo "Erro no estágio $items"; exit 1; fi
          done
