name: Dynamic Pro-Level Pipeline

on:
  push:
    paths: ['**/manifest.json']
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Detectar Manifest e Ação
        id: flow
        run: |
          MANIFEST_PATH=$(git diff --name-only HEAD^ HEAD | grep "manifest.json" | head -n 1)
          
          if [ -z "$MANIFEST_PATH" ]; then
            MANIFEST_PATH=$(find . -name "manifest.json" -not -path "*/.*" | head -n 1 | sed 's|./||')
          fi

          echo "Manifesto encontrado em: $MANIFEST_PATH"

          # Pega a ação (apply/destroy)
          ACTION=$(jq -r '.action' "$MANIFEST_PATH")
          
          # Pega os estágios. Se for destroy, inverte a ordem da lista principal
          if [ "$ACTION" == "destroy" ]; then
            STAGES=$(jq -c '.stages | reverse | .[]' "$MANIFEST_PATH")
          else
            STAGES=$(jq -c '.stages[]' "$MANIFEST_PATH")
          fi

          echo "action=$ACTION" >> $GITHUB_OUTPUT
          # Salva a lista de estágios formatada para o Bash
          echo "stages_list=$(echo $STAGES | tr '\n' '|') " >> $GITHUB_OUTPUT
          
          echo "AÇÃO: $ACTION"
          echo "STAGES: $STAGES"

      - name: Configurar AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::952133486861:role/CloudManActions
          aws-region: us-east-1

      - uses: hashicorp/setup-terraform@v3

      - name: Executar Pipeline
        run: |
          ACTION="${{ steps.flow.outputs.action }}"
          # Converte a string de volta em lista usando o separador '|'
          IFS='|' read -ra ADDR <<< "${{ steps.flow.outputs.stages_list }}"
          
          for group in "${ADDR[@]}"; do
            if [ -z "$group" ]; then continue; fi
            
            # Extrai os itens do grupo (ex: vpc ou stateSub1 stateSub2)
            # O 'if' abaixo trata se você passar uma lista simples ["a", "b"] ou aninhada [["a"], ["b"]]
            items=$(echo $group | jq -r 'if type=="array" then .[] else . end')
            
            echo "::group::Processando Estágio: $items"
            
            for item in $items; do
              (
                echo ">>> Iniciando $item"
                terraform -chdir=$item init -backend-config="key=$item/terraform.tfstate" -reconfigure > /dev/null
                terraform -chdir=$item $ACTION -auto-approve
              ) & 
            done

            wait # Espera o grupo paralelo terminar
            echo "::endgroup::"
          done
